@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 20% repeat(11, 1fr) 20%;
  grid-template-rows: 80px 50px 100px repeat(5, 1fr) 30px auto 30px auto 40px 100px;
}

h1 {
  grid-column: 2 / 13;
  justify-self: center;
}

.bannerMeteoContainer {
  grid-column: span 2;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  border-left: solid gray 1px;
  display: flex;
  justify-content: space-around;
  background: rgb(227, 210, 255);
}

.bannerTempPara {
  font-size: 0.9em;
}

.bannerTempMax {
  color: red;
  font-weight: 700;
  font-size: 0.9em;
}

.bannerTempMin {
  color: blue;
  font-weight: 700;
  font-size: 0.9em;
}

.bannerInfos {
  display: flex;
  flex-direction: column;
}

.bannerInfos h3 {
  margin-top: 4px;
}

.bannerImg img {
  width: 50px;
  height: 50px;
}

.bannerTemp {
  display: flex;
  justify-content: end;
}

.bannerTrainel {
  border-right: 1px gray solid;
  border-radius: 0 50px 50px 0;
  padding-right: 15px;
}

.bannerTrainel:hover {
  border: 2px black solid;
  cursor: pointer;
}

.bannerSens {
  border-radius: 50px 0 0 50px;
}

.bannerSens:hover {
  border: 2px black solid;
  cursor: pointer;
}

.bannerParis:hover {
  border: 2px black solid;
  cursor: pointer;
}

.bannerLondon:hover {
  border: 2px black solid;
  cursor: pointer;
}

#citySelect {
  grid-column: 2 / 5;
  border: 1px black solid;
  border-radius: 50px;
  margin-right: 10px;
}

#citySelect {
  cursor: pointer;
}

.cityHeader {
  grid-column: 2 / 8;
  grid-row: 3;
  align-self: center;
}

.sunriseContainer {
  grid-column: 9 / 13;
  grid-row: 3;
  align-self: center;
  justify-self: end;
}

.infosContainer {
  grid-column: 2 / 8;
  grid-row: 4 / 6;
  background: cyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.infosContainer-infos {
  display: flex;
  justify-content: space-between;
}

.leftContainerInfos {
  display: flex;
}

.temperatureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.windContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.rightInfosContainer {
  grid-column: 8 / 13;
  grid-row: 4 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-rainHours {
  border: 2px solid black;
  height: 45px;
  margin-left: 15%;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
  color: black;
}

.right-rainHours:hover {
  background: rgb(216, 160, 253);
  cursor: pointer;
}

.right-alert {
  border: 2px solid black;
  height: 45px;
  margin-left: 15%;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
  color: black;
}

.right-alert:hover {
  background: rgb(216, 160, 253);
  cursor: pointer;
}

.right-other {
  border: 2px solid black;
  height: 45px;
  margin-left: 15%;
  text-align: center;
  border-radius: 5px;
}

.weekContainer {
  grid-column: 2 / 13;
  grid-row: 6 / 9;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.week {
  border: 1px solid black;
  border-radius: 5px;
  width: 13%;
  height: 100%;
  background: rgb(227, 210, 255);
}

.weekTitle {
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.weekDate {
  text-align: center;
  font-size: 0.9em;
}

.weekImage {
  display: flex;
  justify-content: center;
}

.weekTempPara {
  text-align: center;
  margin-top: 15px;
}

.weekTempMax {
  color: red;
  font-weight: 700;
}

.weekTempMin {
  color: blue;
  font-weight: 700;
}

.weekWind {
  text-align: center;
  font-weight: 600;
  margin: 15px 0 10px 0;
  font-size: 0.9em;
}

.weekWindSpeed {
  text-align: center;
  font-size: 0.9em;
}

.weekKmH {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.hoursDayContainer {
  grid-column: 2 / 13;
  grid-row-start: 12;
  border-top: rgba(128, 128, 128, 0.541) 1px solid;
}

.hours {
  height: 50px;
  border-bottom: rgba(128, 128, 128, 0.541) 1px solid;
  background: rgb(227, 210, 255);
  display: flex;
}

.hours img {
  width: 50px;
  height: 50px;
}

.hoursLeftContainer {
  display: flex;
  width: 80px;
  margin-right: 20%;
}

.hourTempContainer {
  display: flex;
  width: 250px;
  margin-right: 20%;
}

.rainContainer {
  grid-column: 2 / 13;
  grid-row-start: 10;
}

.hour {
  font-size: 0.9em;
  line-height: 50px;
  white-space: nowrap;
}

.hoursTemp {
  line-height: 50px;
  white-space: nowrap;
  margin-right: 20px;
}

.invisible {
  display: none;
}

.rain {
  display: flex;
  justify-content: space-around;
  height: 40px;
  border-top: 1px solid rgba(128, 128, 128, 0.527);
  border-bottom: 1px solid rgba(128, 128, 128, 0.507);
  line-height: 40px;
  white-space: nowrap;
}

.focusBackground {
  background: rgb(216, 160, 253);
}
