@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 20% repeat(11, 1fr) 20%;
  grid-template-rows: 80px 50px 100px repeat(4, 1fr);
}

h1 {
  grid-column: 2 / 13;
  justify-self: center;
}

.bannerMeteoContainer {
  grid-column: span 2;
  border: solid gray 1px;
}

#citySelect {
  grid-column: 2 / 5;
  border: 1px black solid;
  border-radius: 50px;
  margin-right: 10px;
}

.cityHeader {
  grid-column: 2 / 8;
  grid-row: 3;
  align-self: center;
}

.sunriseContainer {
  grid-column: 9 / 13;
  grid-row: 3;
  align-self: center;
  justify-self: end;
}

.infosContainer {
  grid-column: 2 / 8;
  grid-row: 4 / 6;
  background: cyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.infosContainer-infos {
  display: flex;
  justify-content: space-between;
}

.leftContainerInfos {
  display: flex;
}

.temperatureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.windContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.rightInfosContainer {
  grid-column: 9 / 13;
  grid-row: 4 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-rainHours {
  border: 2px solid black;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
}

.right-alert {
  border: 2px solid black;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
}

.right-other {
  border: 2px solid black;
  height: 40px;
  text-align: center;
  border-radius: 5px;
}
